@tailwind base;
@tailwind components;
@tailwind utilities;


.border-gradient {
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(90deg, #6a5acd, #48d1cc);
  border-image-slice: 1;
}

.slider {
  height: auto;
  margin: auto;
  position: relative;
  width: 95%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(400px * 14); /* Adjust the width to match the number of slides */
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-400px * 7)
    ); /* Adjust to match the number of slides */
  }
}

.slide-track:hover {
  animation-play-state: paused;
}
.slide {
  height: auto; /* Increase height */
  width: 400px; /* Increase width */
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.img {
  width: 700px;
  height: 200px;
  object-fit: cover;
  transition: transform 1s;
  border-radius: 20px;
}

.img:hover {
  transform: translateZ(20px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

.group:hover .overlay {
  opacity: 1;
}

.overlay .text {
  border-radius: 10px;
  padding: 20px;
}

.overlay .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.overlay .description {
  margin: 10px 0;
  font-size: 1rem;
  color: #ddd;
}

.overlay .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(90deg, #6a5acd, #48d1cc); /* Gradient button */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
  width: 100%;
}



/* styles/globals.css or component-specific CSS */
.ad-container {
  max-width: 100%;
  margin: 0 auto;  /* Centers the container horizontally */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 30px;
}



